@import 'shared/variables';

.ForgotPassword {
  margin-top: 180px;

  &__title {
    position: relative;
  }

  &__backButton {
    position: absolute;
    top: 50%;
    left: 0;
    cursor: pointer;
    transform: translateY(-50%) rotate(180deg);
    @include transitions((transform));

    &:hover {
      transform: translateY(-50%) rotate(180deg) translateX(5px);
    }
  }
}
