@import 'shared/_variables';
@import 'fonts';
@import '/node_modules/modern-normalize/modern-normalize.css';

:root {
  --black: #081b27;
  --blackRGB: 8, 27, 39;
  --blue: #0b293d;
  --blueRGB: 11, 41, 61;
  --blue2: #0c334d;
  --blue2RGB: 12, 51, 77;
  --blueLighten: #74cfff;
  --blueLightenRGB: 116, 207, 255;
  --blueLight: #c1e5f8;
  --blueLightRGB: 193, 229, 248;
  --blueExtraLight: #d7f1ff;
  --blueExtraLightRGB: 215, 241, 255;
  --green: #62d586;
  --greenRGB: 98, 213, 134;
  --green2: #00ba88;
  --green2RGB: 0, 186, 136;
  --greenDark: #005d44;
  --greenDarkRGB: 0, 93, 68;
  --greenLight: #cffff2;
  --greenLightRGB: 207, 255, 242;
  --yellow: #f5b242;
  --yellowRGB: 245, 178, 66;
  --yellowDark: #945f08;
  --yellowDarkRGB: 148, 95, 8;
  --yellowLight: #fdf0d9;
  --yellowLightRGB: 253, 240, 217;
  --red: #e0335d;
  --redRGB: 224, 51, 93;
  --redDark: #940024;
  --redDarkRGB: 148, 0, 36;
  --redLight: #ffc7d4;
  --redLightRGB: 255, 199, 212;
  --snow: #f2f2f2;
  --snowRGB: 242, 242, 242;
  --grey600: #6b767d;
  --grey600RGB: 107, 118, 125;
  --grey550: #7c8b96;
  --grey550RGB: 124, 139, 150;
  --grey500: #84939c;
  --grey500RGB: 132, 147, 156;
  --grey450: #979ca4;
  --grey450RGB: 151, 156, 164;
  --grey400: #a6bcc7;
  --grey400RGB: 166, 188, 199;
  --grey300: #a6b5c0;
  --grey300RGB: 166, 181, 192;
  --grey250: #cfcfcf;
  --grey250RGB: 207, 207, 207;
  --grey200: #d8d8d8;
  --grey200RGB: 216, 216, 216;
  --grey180: #e4e4e4;
  --grey180RGB: 228, 228, 228;
  --grey175: #e2e3e9;
  --grey175RGB: 226, 227, 233;
  --grey170: #e5e7eb;
  --grey170RGB: 229, 231, 235;
  --grey160: #f3f4f6;
  --grey160RGB: 243, 244, 246;
  --grey150: #f4f4f4;
  --grey150RGB: 244, 244, 244;
  --grey100: #f6f6f6;
  --grey100RGB: 246, 246, 246;

  --xxs: 8px;
  --xs: 10px;
  --sm: 12px;
  --md: 16px;
  --lg: 20px;
  --xl: 24px;
  --xxl: 36px;
}

body {
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  color: var(--black);
  text-decoration: none;
  font-weight: 500;
  user-select: none;

  &:visited {
    color: var(--black);
  }
}

// Helpers
@each $key, $val in $colors-map {
  .text-#{'' + $key} {
    color: $val;
  }
  .bg-#{'' + $key} {
    background-color: $val;
  }
}

@each $align in (left, right, center) {
  .text-#{'' + $align} {
    text-align: $align;
  }
}

@each $i, $val in $margins-map {
  .mt-#{'' + $i} {
    margin-top: $val;
  }
  .mr-#{'' + $i} {
    margin-right: $val;
  }
  .ml-#{'' + $i} {
    margin-left: $val;
  }
  .mb-#{'' + $i} {
    margin-bottom: $val;
  }
  .pt-#{'' + $i} {
    padding-top: $val;
  }
  .pr-#{'' + $i} {
    padding-right: $val;
  }
  .pl-#{'' + $i} {
    padding-left: $val;
  }
  .pb-#{'' + $i} {
    padding-bottom: $val;
  }
  .m-#{'' + $i} {
    margin: $val;
  }
  .p-#{'' + $i} {
    padding: $val;
  }
}

@each $size in (10, 12, 14, 16, 18, 20, 22, 24, 28, 32, 36) {
  .font-size-#{$size} {
    font-size: #{$size}px;
  }
}

@each $weight in (100, 200, 300, 400, 500, 600, 700, 800, 900) {
  .font-weight-#{$weight} {
    font-weight: $weight;
  }
}

.block-centered {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.block-full {
  display: block;
  width: 100%;
}

.is-link {
  font-weight: 600;
  cursor: pointer;
  color: var(--blue);
}

[class*='element-fade'] {
  transition: all 200ms ease-out;
}

.element-fade-entering,
.element-fade-exited {
  opacity: 0;
}

.element-fade-entered,
.element-fade-exiting {
  opacity: 1;
}
