.LoginPage {
  //display: flex;
  //flex-direction: column;
  //align-items: center;
  padding: 100px 8px 8px;

  &__logo {
    margin-bottom: 100px;
  }

  &__link {
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
  }
}
